include ../input/input
include ../button/button
include ../select/select

mixin profile-item(data, modifier)
    .profile-item(class=modifier)
        .profile-item__form
            for inp in data.fields
                if inp.button
                    .profile-item__item
                        +input({
                            type: 'input',
                            profile_item: true,
                            label: inp.label,
                            name: inp.name,
                            input_type: inp.input_type,
                            placeholder: inp.placeholder,
                        })

                        +button({
                            type: 'button',
                            title: 'ОБНОВИТЬ'
                        }, 'button--primary profile-item__button')
                else if inp.datebirth
                    .profile-item__label.profile-item__label--only Дата рождения:
                    .profile-item__item
                        +select([
                            {value: '0', title: 'ДД'},
                            {value: '1', title: '1'},
                            {value: '2', title: '2'},
                            {value: '3', title: '3'},
                            {value: '4', title: '4'},
                            {value: '5', title: '5'},
                            {value: '6', title: '6'},
                            {value: '7', title: '7'},
                            {value: '8', title: '8'},
                            {value: '9', title: '9'},
                            {value: '10', title: '10'},
                            {value: '11', title: '11'},
                            {value: '12', title: '12'},
                            {value: '13', title: '13'},
                            {value: '14', title: '14'},
                            {value: '15', title: '15'},
                            {value: '16', title: '16'},
                            {value: '17', title: '17'},
                            {value: '18', title: '18'},
                            {value: '19', title: '19'},
                            {value: '20', title: '20'},
                            {value: '21', title: '21'},
                            {value: '22', title: '22'},
                            {value: '23', title: '23'},
                            {value: '24', title: '24'},
                            {value: '25', title: '25'},
                            {value: '26', title: '26'},
                            {value: '27', title: '27'},
                            {value: '28', title: '28'},
                            {value: '29', title: '29'},
                            {value: '30', title: '30'},
                            {value: '31', title: '31'},
                        ], 'custom-select--day custom-select--profile', 'Все товары')

                        +select([
                            {value: '0', title: 'ММ'},
                            {value: '1', title: 'Январь'},
                            {value: '2', title: 'Февраль'},
                            {value: '3', title: 'Март'},
                            {value: '4', title: 'Апрель'},
                            {value: '5', title: 'Май'},
                            {value: '6', title: 'Июнь'},
                            {value: '7', title: 'Июль'},
                            {value: '8', title: 'Август'},
                            {value: '9', title: 'Сентябрь'},
                            {value: '10', title: 'Октябрь'},
                            {value: '11', title: 'Ноябрь'},
                            {value: '12', title: 'Декабрь'},
                        ], 'custom-select--month custom-select--profile', 'Все товары')

                        +select([
                            {value: '0', title: 'ГГ'},
                            {value: '1', title: '2002'},
                            {value: '2', title: '2001'},
                            {value: '3', title: '2000'},
                            {value: '4', title: '1999'},
                            {value: '5', title: '1998'},
                            {value: '6', title: '1997'},
                        ], 'custom-select--year custom-select--profile', 'Все товары')

                else if inp.textarea
                    +input({
                        type: 'textarea',
                        profile_item: true,
                        label: inp.label,
                        name: inp.name,
                        placeholder: inp.placeholder,
                    })

                else if inp.button_only
                    +button({
                        type: 'button',
                        title: inp.title
                    }, 'profile-item__button button--secondary button--wide')

                else
                    +input({
                        type: 'input',
                        profile_item: true,
                        label: inp.label,
                        name: inp.name,
                        input_type: inp.input_type,
                        placeholder: inp.placeholder,
                    })

