/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.profile-item {
  max-width: 465px;

  &__form {
    margin-top: 40px;
  }

  &__button {
    margin-top: 20px;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    width: 100%;

    .profile-item__label {
      flex: 1 0;
    }

    .custom-select--profile {
      flex: 1 1;
      border: 1px solid $color-text;

      .select-items {
        max-height: 150px;
        overflow-y: scroll;
      }

      .select-selected {
        padding: 12px 11px;

        &::after {
          top: 8px;
          right: 10px;
        }
      }

      &:not(:last-child) {
        margin-right: 7px;
      }
    }

    .profile-item__button {
      margin-top: 5px;
      margin-left: 6px;
      font-size: 12px;
      min-height: 41px;
      padding: 13px 50px;
    }
  }

  &__label {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 15px;

    &--only {
      margin-bottom: 5px;
    }
  }

  &__field {
    border: 1px solid #383838;
    box-sizing: border-box;
    padding: 12px 8px;
    width: 100%;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    margin-top: 5px;

    &::placeholder {
      color: rgba(56, 56, 56, 0.4);
    }
  }
}