/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.image-section {
  position: relative;
  max-width: 100%;
  min-height: calc(100vh - #{$header-height});

  .container {
    min-height: inherit;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-bottom: 33px;
    min-height: inherit;
  }

  &__data {
    margin-top: 153px;

    &-meta {
      font-weight: 300;
      font-size: 12px;
      line-height: 100%;
      margin-bottom: 10px;
    }

    &-title {
      font-weight: normal;
      font-size: 45px;
      line-height: 100%;
      letter-spacing: -0.045em;
      color: #383838;
      margin-bottom: 20px;
    }

    &-subtitle {
      font-weight: 300;
      font-size: 15px;
      line-height: 130%;
      color: #383838;
      margin-bottom: 40px;
    }

    &-actions {
      display: inline-flex;
    }
  }

  &--sale {
    min-height: 100vh;

    .image-section__data-meta {
      font-weight: 300;
      font-size: 15px;
      line-height: 130%;
    }

    .image-section__data-subtitle {
      font-weight: 300;
      font-size: 18px;
      line-height: 130%;
    }
  }

  &--contacts {
    .image-section__footer {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .image-section__text {
      font-weight: 300;
      font-size: 15px;
      line-height: 130%;
      margin-bottom: 10px;

      &--link {
        transition: none;
        width: fit-content;
        padding-bottom: 1px;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid #303030;
        }
      }
    }

    .image-section__data-title {
      margin-bottom: 85px;
    }

    .image-section__block--schedule {
      margin-bottom: 60px;
    }

    .image-section__block--phone {
      margin-bottom: 140px;
    }

    .image-section__block-title {
      font-weight: normal;
      margin-bottom: 20px;
    }

    .image-section__data {
      margin-top: 74px;
    }

    .image-section__footer-right {
      text-align: right;
    }

    .image-section__footer-left,
    .image-section__footer-right {
      display: flex;
      flex-flow: column nowrap;

      .image-section__text {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    .image-section__app {
      margin-bottom: 200px;
    }

    .image-section__copyright {
      font-weight: 300;
      font-size: 15px;
      line-height: 130%;
      transform: rotate(-180deg);
      writing-mode: tb-rl;
      text-orientation: sideways-right;
      position: absolute;
      top: 74px;
      right: 30px;
    }

    .app-download__text {
      font-weight: normal;
      font-size: 15px;
      line-height: 130%;
      text-transform: uppercase;
    }
  }
}