include ../button/button
include ../app-download/app-download

mixin image-section(data, modifier, id)
    article.image-section(class= modifier, id=id)
        img(src= data.src, class=data.src_class, alt=data.title).image-section__img

        if data.top_block
            +button({
                type: 'link',
                url: '#',
                icon: 'longline',
                icon_modifier: 'icon--longline',
                title: 'Смотреть подробнее'
            }, 'button--dir-vertical button--clear')

        .container
            if data.contacts
                .image-section__copyright Copyright &copy;&nbsp;2015-2021 &laquo;СтильЭлит&raquo;
            .image-section__content
                .image-section__data
                    if data.contacts
                        h1.image-section__data-title!= data.title
                        .image-section__block.image-section__block--schedule
                            .image-section__text.image-section__block-title ГРАФИК РАБОТЫ:
                            .image-section__text Пн-Сб с 09.00 до 18.00
                            .image-section__text Приём заказов круглосуточно
                        .image-section__block.image-section__block--phone
                            .image-section__text.image-section__block-title ТЕЛЕФОН:
                            .image-section__text 8 (800) 555-35-35

                    else
                        .image-section__data-meta!= data.meta
                        h1.image-section__data-title!= data.title
                        .image-section__data-subtitle!= data.subtitle
                        if data.actions
                            .image-section__data-actions
                                .image-section__data-action
                                    +button({
                                        type: 'button',
                                        title: 'Перейти в каталог'
                                    }, 'button--primary')

                if data.apps || data.contacts
                    +app-download('image-section__app')

                if data.contacts
                    .image-section__footer
                        .image-section__footer-left
                            a(href="#", title="Политика конфиденциальности").image-section__text.image-section__text--link Политика конфиденциальности
                            a(href="#", title="Согласие на обработку персональных данных").image-section__text.image-section__text--link Согласие на обработку персональных данных
                        .image-section__footer-right
                            a(href="#", title="Реквизиты").image-section__text.image-section__text--link Реквизиты
                            a(href="#", title="Возврат").image-section__text.image-section__text--link Возврат
