/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.detail {
  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }

  &__info {
    flex: 1 0;
    max-width: available;
  }

  &__gallery {
    margin-right: 34px;
    flex: 0 1;
    display: grid;
    grid-template-columns: 339px 267px;
    grid-template-rows: 314px 193px;
    gap: 4px;
  }

  &__gallery-item--1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  &__gallery-item--2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  &__gallery-item--3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  &__gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover
  }

  &__name,
  &__header {
    display: inline-flex;
    align-items: center;
  }

  &__header {
    padding-bottom: 15px;
    margin-bottom: 27px;
    border-bottom: 1px solid rgba(56, 56, 56, .7);
    width: 100%;
    justify-content: space-between;
  }

  &__name {
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;

    .button--favorites {
      margin-right: 5px;
    }
  }

  &__price {
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    white-space: nowrap;
    text-transform: uppercase;

    &--old {
      color: rgba(56, 56, 56, 0.4);
      text-decoration-line: line-through;
      margin-left: 10px;
    }
  }

  &__colors {
    display: inline-flex;
    min-height: 18px;
    margin-bottom: 25px;

    &-item {
      &:not(:last-child) {
        margin-right: 7px;
      }
    }
  }

  &__description,
  &__specs {
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
  }

  &__sizes {
    margin-bottom: 98px;

    &-title {
      display: inline-flex;
      align-items: center;
      margin-bottom: 6px;
    }

    &-icon {
      margin-right: 7px;
    }

    &-list {
      display: flex;
      min-height: 29px;
      margin-left: -5px;
    }
  }

  &__specs {
    margin-bottom: 45px;
  }

  &__actions {
    display: inline-flex;

    &-btn {
      max-width: 210px;
      padding: .875rem 1rem;

      .button__content {
        height: 100%;
      }

      .button__text {
        font-weight: normal;
        font-size: 15px;
        line-height: 100%;
      }

      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  &__description {
    max-height: 83px;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding-right: 11px;
    scrollbar-width: thin;
    scrollbar-color: $color-text rgba(56, 56, 56, 0.4);
    mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 10px, black 10px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;


    &:hover {
      -webkit-mask-position: left top;
    }

    &::-webkit-scrollbar {
      width: 1px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(56, 56, 56, 0.4);
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 1px $color-text;
    }
  }
}