include ../button/button
include ../input/input
include ../icon/icon


mixin detail(data, modifier)

    - var radiobuttons = ['input__checkmark--grey', 'input__checkmark--blue', 'input__checkmark--brown', 'input__checkmark--skin']
    - var sizebuttons = ['38', '40', '42', '44', '48', '50', '52']

    section.detail
            .detail__wrapper
                .detail__gallery
                    figure.detail__gallery-item.detail__gallery-item--1
                        img(src=data.image_1, alt=data.alt).detail__gallery-img
                    figure.detail__gallery-item.detail__gallery-item--2
                        img(src=data.image_2, alt=data.alt).detail__gallery-img
                    figure.detail__gallery-item.detail__gallery-item--3
                        img(src=data.image_3, alt=data.alt).detail__gallery-img
                .detail__info
                    .detail__header
                        .detail__name
                            +button({
                                type: 'button',
                                alt: 'Добавить в избранное',
                                attr: {
                                    'aria-label': 'Добавить в избранное'
                                }
                            }, 'button--favorites button--favorites-small button--clear')
                            .detail__header-name!= data.name
                        span.detail__price
                            != data.price
                            if data.old_price
                                span.detail__price--old!= data.old_price
                    .detail__colors
                        for radio in radiobuttons
                            +input({
                                type: 'radio',
                                input_name: 'radio-color',
                                color_class: radio,
                            }, 'detail__colors-item input--radio-colors')
                    .detail__description!= data.description
                    .detail__specs!= data.specs
                    .detail__sizes
                        .detail__sizes-title
                            +icon({id: 'size', modifier: 'detail__sizes-icon icon--detail-sizes'})
                            |Выберите свой размер:
                        .detail__sizes-list
                            for radio in sizebuttons
                                +input({
                                    type: 'radio',
                                    title: radio,
                                    input_name: 'radio-size',
                                }, 'detail__sizes-item input--radio-sizes')
                    .detail__actions
                        +button({
                            type: 'button',
                            title: 'Добавить в корзину'
                        }, 'detail__actions-btn button--primary')
                        +button({
                            type: 'button',
                            title: 'Быстрый заказ'
                        }, 'detail__actions-btn button--secondary')
