include ../profile-item/profile-item

mixin personal-data(modifier)
    section.personal-data(class=modifier)
        h1.personal-data__title Мои данные
        +profile-item({
            fields: [
                {placeholder: 'Введите Ваше имя', name: 'firstname', label: 'Имя:'},
                {placeholder: 'Введите Вашу фамилию', name: 'lastname', label: 'Фамилия:'},
                {placeholder: '+ 7 999 99 99 99', input_type: 'tel', name: 'telephone', label: 'Номер телефона:'},
                {placeholder: 'Введите адрес эл. почту', input_type: 'email', name: 'email', label: 'Эл. почта:', button: true},
                {placeholder: 'Введите пароль', input_type: 'password', name: 'password', label: 'Пароль:', button: true},
                {datebirth: true},
                {button_only: true, title: 'Сохранить изменения'}
            ]
        }, 'profile__item')


