/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.personal-data {
  margin-left: 254px;
  margin-bottom: 100px;

    &__title {
      font-weight: normal;
      font-size: 15px;
      line-height: 100%;
      text-transform: uppercase;
    }
}