/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.cart {

  &__title {
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 20px;
  }

  &__count {
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: auto;
    margin-top: 45px;

    &-btn {
      padding: 18px 17px;
      max-height: 55px;
      min-width: 230px;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &__summary {
    height: 100%;
    margin-right: 25px;

    &-title {
      margin-bottom: 12px;
      font-weight: normal;
      font-size: 15px;
      line-height: 100%;
    }

    &-delivery {
      font-size: 15px;
      line-height: 100%;
      color: rgba(56, 56, 56, 0.5);
    }
  }

  &__content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 35px;
    gap: 20px 15px;

    &--empty {
      margin-top: 92px;
      margin-bottom: 200px;
      justify-content: flex-start;
      align-items: center;
      flex-flow: column nowrap;

      .cart__content-title {
        font-weight: 300;
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 25px;
      }

      .cart__content-button {
        padding: 18px 40px;
      }
    }
  }
}