include ../breadcrumbs/breadcrumbs
include ../cover/cover
include ../button/button
include ../checkout/checkout

mixin cart(data, modifier)
    +breadcrumbs({
        list: [
            {name: 'Главная', url: '#'},
            {name: 'Корзина', url: '#'}
        ]
    }, 'breadcrumbs--cart')
    article.cart
        h1.cart__title КОРЗИНА
        if data.empty
            .cart__count Добавлено в корзину: 0
            .cart__content.cart__content--empty
                .cart__content-title Ваша корзина пуста
                +button({
                    type: 'link',
                    url: "catalog.html",
                    title: 'Перейти в каталог'
                }, 'cart__content-button button--primary')
        else
            .cart__count Добавлено в корзину: 3
                .cart__content
                    +cover({
                        img_src: 'assets/img/card6.jpg',
                        url: 'detail.html',
                        color_id: 'color1',
                        size_id: 'size1',
                        aside: true,
                        cart: true,
                        info: {
                            title: 'Платье',
                            price: '3000 ₽',
                            size: 'Размер: 42',
                            color: 'Цвет: <div class="cover__colors-item cover__colors-item--grey"></div>',
                        }
                    }, 'cover--cart')
                    +cover({
                        img_src: 'assets/img/card7.jpg',
                        url: 'detail.html',
                        aside: true,
                        cart: true,
                        color_id: 'color2',
                        size_id: 'size2',
                        info: {
                            title: 'Платье',
                            price: '3000 ₽',
                            size: 'Размер: 42',
                            color: 'Цвет: <div class="cover__colors-item"></div>',
                        }
                    }, 'cover--cart')
                    +cover({
                        img_src: 'assets/img/card8.jpg',
                        url: 'detail.html',
                        color_id: 'color3',
                        size_id: 'size3',
                        aside: true,
                        cart: true,
                        info: {
                            title: 'Платье',
                            price: '3000 ₽',
                            size: 'Размер: 42',
                            color: 'Цвет: <div class="cover__colors-item cover__colors-item--skin"></div>',
                        }
                    }, 'cover--cart')
                    +cover({
                        img_src: 'assets/img/card8.jpg',
                        url: 'detail.html',
                        color_id: 'color5',
                        size_id: 'size5',
                        aside: true,
                        cart: true,
                        info: {
                            title: 'Платье',
                            price: '3000 ₽',
                            size: 'Размер: 42',
                            color: 'Цвет: <div class="cover__colors-item cover__colors-item--skin"></div>',
                        }
                    }, 'cover--cart')
                .cart__actions
                    .cart__summary
                        .cart__summary-title ИТОГО: 11 200 ₽
                        .cart__summary-delivery Доставка бесплатно*
                    +button({
                        type: 'button',
                        title: 'Перейти к оформлению'
                    }, 'cart__actions-btn cart__actions-btn--checkout button--primary')
                    +button({
                        type: 'button',
                        title: 'Быстрый заказ'
                    }, 'cart__actions-btn button--secondary')
            +checkout()



