/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.checkout-item {
  max-width: 581px;


  &__title {
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__form {
    background-color: $color-main;
    padding: 18px 20px 22px;
  }

  &__label {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__field {
    border: 1px solid #383838;
    box-sizing: border-box;
    padding: 12px 8px;
    width: 100%;
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;
    margin-top: 5px;

    &::placeholder {
      color: rgba(56, 56, 56, 0.4);
    }
  }

  &__checkbox {
    width: 100%;
    display: inline-flex;
    align-items: center;
    border: 1px solid $color-text;
    border-bottom: none;
    min-height: 60px;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    cursor: pointer;

    &-state {
      width: 12px;
      height: 12px;
      border: 1px solid $color-text;
      margin-left: 22px;
      margin-right: 28px;
      border-radius: 50%;
      background-color: transparent;
      background-clip: content-box;
      padding: 2px;
    }

    &-input {
      position: absolute;
      appearance: none;

      &:checked ~ .checkout-item__checkbox-state {
        background-color: $color-text;
      }
    }

    &:last-child {
      border-bottom: 1px solid $color-text;
    }

    &-img {
      margin-right: 49px;
    }
  }

}