include ../input/input

mixin checkout-item(data, modifier)
    .checkout-item(class=modifier)
        h3.checkout-item__title!= data.title
        .checkout-item__form
            for inp in data.fields
                if data.type === 'delivery'
                    label.checkout-item__checkbox
                        input(type='radio' name=inp.name, value=inp.value).checkout-item__checkbox-input
                        .checkout-item__checkbox-state
                        img(width='90', src=inp.img).checkout-item__checkbox-img
                        !=inp.label
                else if data.type === 'textarea'
                    +input({
                        type: 'textarea',
                        checkout_item: true,
                        label: inp.label,
                        name: inp.name,
                        placeholder: inp.placeholder,
                    })
                else
                    +input({
                        type: 'input',
                        checkout_item: true,
                        label: inp.label,
                        name: inp.name,
                        input_type: inp.input_type,
                        placeholder: inp.placeholder,
                    })

