/**
 *
 *
 * @author Tatevosyan Artem (@teqst)
 */

.custom-select {
  position: relative;
  cursor: pointer;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: transparent;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  padding-right: 22px;
  user-select: none;
}

.select-selected:after {
  position: absolute;
  content: "‹";
  top: -1px;
  right: 3px;
  width: 7px;
  height: 22px;
  transform: rotate(90deg);
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #383838;
  transition: all .14s ease-out;
}

.select-selected.select-arrow-active:after {
  transform: rotate(-90deg);
  top: -3px;
}

.select-items div {
  color: rgba(56, 56, 56, .5);
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;

  &::before {
    content: '';
    top: 0;
    position: relative;
    width: 13px;
    height: 13px;
    border: 1px solid rgba(56, 56, 56, .5);
    border-radius: 50%;
    margin-right: 5.5px;
    padding: 1px;
    background-clip: content-box;
  }
}

.select-items {
  position: absolute;
  background-color: $color-main;
  left: 0;
  right: 0;
  z-index: 99;
  top: 42px;
  min-width: 285px;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.select-items .custom-selected {
  color: $color-text;
  border-color: $color-text;

  &:before {
    border: 1px solid $color-text;
    background-color: $color-text;
  }
}


.custom-select--cover-color,
.custom-select--color {
  .select-items {
    min-width: 162px;
    display: flex;
    flex-wrap: wrap;
  }

  .select-hide {
    display: none;
  }

  .select-items div:hover,
  .select-items .custom-selected {
    &:before {
      display: initial;
    }
  }

  .select-items div {
    flex: 0 0 12px;
    margin: 10px;
    padding: 0;
    height: 12px;
    background-color: #225b7a;
    border-radius: 100%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      border-radius: 100%;
      display: none;
      font-size: unset;
      background-color: transparent;
      border: 1px solid $color-text;
    }
  }
}

.custom-select--cover-color {
  .select-selected {
    width: 11px;
    height: 11px;
    padding: 0;
    border-radius: 20px;
    background-color: #383838;
  }

  .select-selected:after {
    content: none;
  }
}

.custom-select--cover-size .select-selected {
  font-size: 15px;
  font-weight: 300;
}

.custom-select--cover-size,
.custom-select--size {
  .select-items {
    display: flex;
    flex-wrap: wrap;
  }

  .select-hide {
    display: none;
  }

  .select-items div {
    flex: 0 1 20%;
    padding: 9px;

    &:before {
      width: 9px;
      height: 9px;
      font-size: 12px;
      line-height: 120%;
      margin-right: 4px;
    }
  }
}

.custom-select--cover-size {
  .select-items {
    min-width: 188px;
    left: -94px;
    top: 22px;
  }

  .select-items div {
    font-size: 12px;
    line-height: 120%;
    min-width: 47px;
    padding: 8px;
  }
}

.custom-select--cover-color {
  .select-items {
    min-width: 160px;
    left: -48px;
    top: 22px;
  }
}