mixin select(data, modifier, name, id)
    .custom-select(class=modifier, id=id, data-name=name)
        select.select__native
            for option in data
                if option.selected
                    option(value=option.value, label=option.label, selected)!= option.title
                else
                    option(value=option.value, label=option.label)!= option.title