mixin input(data, modifier)
    if data.type === 'radio'
        label(class=modifier).input.input--radio
            input(type="radio", name=data.input_name)
            span(class=data.color_class).input__checkmark
                if data.title
                    != data.title

    if data.type === 'input'
        if data.search
            form(action='#' class='search')
                +button({
                    type: 'button',
                    alt: 'Поиск',
                    icon: 'search-catalog',
                    icon_modifier: 'icon--search-catalog',
                    attr: {
                        'aria-label': 'Поиск'
                    }
                }, 'button--clear')

                input(type='text', name=data.input_name, placeholder=data.placeholder).input.input--catalog-search
        if data.checkout_item || data.profile_item
            label(class= data.checkout_item ? 'checkout-item__label' : 'profile-item__label')
                != data.label
                input(type=data.input_type ? data.input_type : 'text', name=data.input_name, placeholder=data.placeholder, required, class= data.checkout_item ? 'checkout-item__field' : 'profile-item__field').input

    if data.type === 'textarea' && (data.checkout_item || data.profile_item)
        label.checkout-item__label
            != data.label
            textarea(name=data.input_name, placeholder=data.placeholder, rows="5", required).input.checkout-item__field