/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

.input {
  & input {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }

  &--catalog-search {
      position: static;
      appearance: initial;
      -webkit-appearance: initial;
      -moz-appearance: initial;
      text-transform: uppercase;
      border: none;
      outline: none;
      max-width: 140px;
      font-weight: normal;
      font-size: 15px;
      line-height: 130%;

      &::placeholder {
        color: rgba(56, 56, 56, .6);
      }
  }

  &--radio-colors {
    display: block;
    position: relative;
    padding-left: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .input__checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 12px;
      width: 12px;
      background-color: #eee;
      border-radius: 50%;
    }

    .input__checkmark--grey {
      background-color: #97A5AD;
    }

    .input__checkmark--blue {
      background-color: #7DA2B8;
    }

    .input__checkmark--brown {
      background-color: #9C6D4B;
    }

    .input__checkmark--skin {
      background-color: #BBB089;
    }

    &:hover input ~ .input__checkmark {
      opacity: .7;
    }

    & input:checked ~ .input__checkmark::after,
    & input:focus ~ .input__checkmark::after {
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      height: 18px;
      width: 18px;
      border: 1px solid rgba(48, 48, 48, 0.7);
      border-radius: 50%;
    }
  }

  &--radio-sizes {
    padding-right: 29px;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .input__checkmark {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 29px;
      font-weight: normal;
      font-size: 14px;
      width: 29px;
      height: 29px;
      text-align: center;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0);
    }

    & input:checked ~ .input__checkmark,
    & input:focus ~ .input__checkmark {
      background-color: $color-text;
      color: $color-main;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-text;
}