/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.catalog-slider {

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__title {
    font-weight: normal;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.055em;
    color: #393939;
    text-transform: uppercase;
  }

  &__slider {
    overflow: hidden;
  }
}