/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.catalog-nav {

  &__grid {
    display: flex;
    flex-flow: row nowrap;
  }

  &__column {
    display: flex;
    flex-flow: column nowrap;


    &--center {
      justify-content: center;
      flex-basis: 393px;
    }

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;
    color: rgba(56, 56, 56, 0.4);
    text-align: center;
  }

  &__button {
    align-self: center;
    margin-top: 70px;
    margin-bottom: 15px;
  }

  &__title {
    font-weight: normal;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.055em;
    color: #393939;
    margin-bottom: 70px;
    text-transform: uppercase;
  }
}