include ../cover/cover
include ../button/button

mixin catalog-navigation(data, modifier)
    article.catalog-nav(class=modifier)
        .container
            .catalog-nav__wrapper
                .catalog-nav__title!= data.title
                .catalog-nav__grid
                    .catalog-nav__column.catalog-nav__column--left
                        .catalog-nav__item
                            +cover({
                                img_src: 'assets/img/card1.jpg',
                                url: '#',
                                label: '01 - Верхняя одежда',
                                meta: '01 &mdash; Верхняя одежда'
                            }, 'cover--categories')
                        .catalog-nav__item
                            +cover({
                                img_src: 'assets/img/card2.jpg',
                                url: '#',
                                label: '04 - Костюмы',
                                meta: '04 &mdash; Костюмы'
                            }, 'cover--categories')

                    .catalog-nav__column.catalog-nav__column--center
                        .catalog-nav__item
                            +cover({
                                img_src: 'assets/img/card5.jpg',
                                url: '#',
                                label: '03 - Юбки',
                                meta: '03 &mdash; Юбки'
                            }, 'cover--categories')
                        .catalog-nav__button
                            +button({
                                type: 'button',
                                title: 'Перейти в каталог'
                            }, 'button--primary')
                        .catalog-nav__text Более 2700 товаров

                    .catalog-nav__column.catalog-nav__column--right
                        .catalog-nav__item
                            +cover({
                                img_src: 'assets/img/card3.jpg',
                                url: '#',
                                label: '02 - Платья',
                                meta: '02 &mdash; Платья'
                            }, 'cover--categories')
                        .catalog-nav__item
                            +cover({
                                img_src: 'assets/img/card4.jpg',
                                url: '#',
                                label: '05 - Брюки',
                                meta: '05 &mdash; Брюки'
                            }, 'cover--categories')