/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.personal-orders {
  margin-left: 254px;
  margin-bottom: 100px;

    &__title {
      font-weight: normal;
      font-size: 15px;
      line-height: 100%;
      text-transform: uppercase;
    }
}

.tabs {
  margin-top: 40px;

  &__control {
    width: 100%;
    display: inline-flex;
    align-items: center;

    &-item {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 120%;
      color: #303030;
      flex: 1 1 200px;
      display: inline-flex;
      align-items: center;
      cursor: pointer;

      &::after {
        transition: transform .24s ease-out;
        content: '‹';
        transform: rotate(90deg);
        margin-top: 3px;
        position: relative;
      }

      &--active {
        &::after {
          transform: rotate(270deg);
        }
      }
    }
  }
  
  &__content {
    
    &-item {
      display: none;
      
      &--active {
        display: block;
      }
    }
  }
}