mixin personal-orders(modifier)
    section.personal-orders(class=modifier)
        h1.personal-orders__title Заказы
        .tabs
            .tabs__control
                .tabs__control-item.tabs__control-item--active(data-tabname="current") Текущие заказы&nbsp;&nbsp;
                .tabs__control-item(data-tabname="all") Все заказы&nbsp;&nbsp;
                .tabs__control-item(data-tabname="completed") Завершенные&nbsp;&nbsp;
            .tabs__content
                .tabs__content-item.tabs__content-item--active(data-tabname="current")
                    p tab1
                .tabs__content-item(data-tabname="all")
                    p tab2
                .tabs__content-item(data-tabname="completed")
                    p tab3

