@font-face {
  font-family: 'RFDewiExtended';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
          url("/fonts/RFDewiExtended-Black.ttf") format('ttf'),
          url("/fonts/RFDewiExtended-Black.woff") format('woff'),
          url("/fonts/RFDewiExtended-Black.woff2") format('woff2');
}

@font-face {
  font-family: 'RFDewiExtended';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
          url("/assets/fonts/RFDewiExtended-Bold.ttf") format('ttf'),
          url("/assets/fonts/RFDewiExtended-Bold.woff") format('woff'),
          url("/assets/fonts/RFDewiExtended-Bold.woff2") format('woff2');
}

@font-face {
  font-family: 'RFDewiExtended';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
          url("/assets/fonts/RFDewiExtended-Regular.ttf") format('ttf'),
          url("/assets/fonts/RFDewiExtended-Regular.woff") format('woff'),
          url("/assets/fonts/RFDewiExtended-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'RFDewiExtended';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
          url("/assets/fonts/RFDewiExtended-Light.ttf") format('ttf'),
          url("/assets/fonts/RFDewiExtended-Light.woff") format('woff'),
          url("/assets/fonts/RFDewiExtended-Light.woff2") format('woff2');
}


@font-face {
  font-family: 'RFDewiExtended';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
          url("/assets/fonts/RFDewiExtended-Thin.ttf") format('ttf'),
          url("/assets/fonts/RFDewiExtended-Thin.woff") format('woff'),
          url("/assets/fonts/RFDewiExtended-Thin.woff2") format('woff2');
}
