/*Colors*/

$color-text: #383838;
$color-main: #ffffff;
$color-bg-landing: #ffffff;
$color-bg-main: #FBFBFB;
$color-dark: #d6d6d6;
$color-dark--opacity-4: rgba(56, 56, 56, .4);
$color-dark--opacity-5: rgba(56, 56, 56, .5);
$color-dark--opacity-6: rgba(56, 56, 56, .6);
$color-dark--opacity-7: rgba(56, 56, 56, .7);
$color-dark--opacity-8: rgba(56, 56, 56, .8);
$color-dark--opacity-9: rgba(56, 56, 56, .9);


/*Font settings*/

$font-family: "RFDewiExtended", Arial, Helvetica, sans-serif;

$base-font-size: 15px;
$font-size-h0: 45px;
$font-size-h1: 45px;
$font-size-h2: 25px;
$font-size-h3: 20px;


/*Fixed sizes*/

$header-height: 70px;

$container-width: 1140px;
$container-x-padding: 15px;

/*Breakpoints*/

$desktop-lg: 1920px;
$tablet: 1023px;
$mobile: 650px;