/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.cart-tip {
  width: 300px;
  background-color: $color-main;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 15px 25px 26px 25px;
  position: absolute;
  top: -9999px;
  z-index: 9;

  &__title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
  }

  &__list {
    height: 205px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: $color-text rgba(56, 56, 56, 0.4);
    mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 10px, black 10px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;

    &:hover {
      -webkit-mask-position: left top;
    }

    &::-webkit-scrollbar {
      width: 1px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(56, 56, 56, 0.4);
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 1px $color-text;
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background-color: rgba(56, 56, 56, 0.2);
    margin: 15px 0;
  }

  &__summary {
    margin-bottom: 20px;

    &-divider {
      margin: 15px 0;
      background-color: rgba(56, 56, 56, 0.8);
      width: 100%;
      height: 1px;
    }

    &-price,
    &-delivery,
    &-total {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 5px;
    }
  }

  &__summary-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;

    &--grey {
      color: rgba(56, 56, 56, 0.5);
    }
  }

  &__actions {
    display: flex;
    flex-flow: column nowrap;

    &-button {
      padding: 11px 30px;
    }

    &-button:first-child {
      margin-bottom: 10px;
    }
  }
}