include ../cover/cover
include ../button/button

mixin cart-tip(data, modifier)
    section.cart-tip
        .cart-tip__title Ваша корзина (4)
        .cart-tip__divider
        .cart-tip__list
            +cover({
                img_src: 'assets/img/card7.jpg',
                url: 'detail.html',
                aside: true,
                cart_tip: true,
                info: {
                    title: 'Платье',
                    price: '3000 ₽',
                    size: 'Размер: 42',
                    color: 'Цвет: <div class="cover__colors-item"></div>',
                }
            }, 'cover--cart cover--cart-tip')
            +cover({
                img_src: 'assets/img/card5.jpg',
                url: 'detail.html',
                aside: true,
                cart_tip: true,
                info: {
                    title: 'Платье',
                    price: '3000 ₽',
                    size: 'Размер: 42',
                    color: 'Цвет: <div class="cover__colors-item"></div>',
                }
            }, 'cover--cart cover--cart-tip')
            +cover({
                img_src: 'assets/img/card1.jpg',
                url: 'detail.html',
                aside: true,
                cart_tip: true,
                info: {
                    title: 'Платье',
                    price: '3000 ₽',
                    size: 'Размер: 42',
                    color: 'Цвет: <div class="cover__colors-item"></div>',
                }
            }, 'cover--cart cover--cart-tip')
            +cover({
                img_src: 'assets/img/card8.jpg',
                url: 'detail.html',
                aside: true,
                cart_tip: true,
                info: {
                    title: 'Платье',
                    price: '3000 ₽',
                    size: 'Размер: 42',
                    color: 'Цвет: <div class="cover__colors-item"></div>',
                }
            }, 'cover--cart cover--cart-tip')
        .cart-tip__divider
        .cart-tip__summary
            .cart-tip__summary-price
                span.cart-tip__summary-text Стоимость заказа
                span.cart-tip__summary-text 7 200 ₽
            .cart-tip__summary-delivery
                span.cart-tip__summary-text Доставка
                span.cart-tip__summary-text.cart-tip__summary-text--grey БЕСПЛАТНО
            .cart-tip__summary-divider
            .cart-tip__summary-total
                span.cart-tip__summary-text ИТОГО:
                span.cart-tip__summary-text 7 200 ₽

        .cart-tip__actions
            +button({
                type: 'link',
                url: "cart_not_empty.html",
                title: 'Перейти в корзину'
            }, 'cart-tip__actions-button button--primary')
            +button({
                type: 'link',
                url: "cart_not_empty.html",
                title: 'Быстрый заказ'
            }, 'cart-tip__actions-button button--secondary')