include ../button/button
include ../select/select

mixin cover(data, modifier)
    section.cover(class= modifier, aria-label= data.label)
        a(href= data.url, aria-label= data.label, target="_blank").cover__wrapper
            .cover__poster
                img(src= data.img_src, aria-label= data.label, alt= data.label).cover__image

                if data.meta
                    .cover__meta!= data.meta

                if data.aside && !data.cart_tip
                    +button({
                        type: 'button',
                        icon: 'remove',
                        alt: 'Удалить из корзины',
                        attr: {
                            'aria-label': 'Удалить из корзины'
                        }
                    }, 'cover__button cover__button--remove button--remove button--clear')

                if data.favorites
                    +button({
                        type: 'button',
                        alt: 'Добавить в избранное',
                        attr: {
                            'aria-label': 'Добавить в избранное'
                        }
                    }, 'cover__button cover__button--favorites button--favorites button--clear')

                if data.colors
                    .cover__colors
                        .cover__colors-item.cover__colors-item--grey
                        .cover__colors-item.cover__colors-item--skin
                        .cover__colors-item

        if data.info && !data.aside
            .cover__data
                .cover__title!= data.info.title
                .cover__price!= data.info.price
                if !data.info.no_button
                    +button({
                        type: 'button',
                        title: 'Быстрый заказ'
                    }, 'button--primary ' + data.info.size)

        if data.aside
            .cover__data.cover__data--aside
                .cover__title!= data.info.title
                .cover__price!= data.info.price
                .cover__color
                    if data.cart
                        | Цвет:&nbsp;
                        +select([
                            {value: '#C03002'},
                            {value: '#F97719'},
                            {value: '#D8C275'},
                            {value: '#5D56AC'},
                            {value: '#5689A7'},
                            {value: '#97958F'},
                            {value: '#665323'},
                            {value: '#17562C'},
                            {value: '#8ABB89'},
                            {value: '#88326B'},
                        ], 'custom-select--cover-color', 'Цвет', data.color_id)
                    else
                        != data.info.color
                .cover__size
                    if data.cart
                        | Размер:&nbsp;
                        +select([
                            {value: '0', title: '36'},
                            {value: '1', title: '38'},
                            {value: '2', title: '40'},
                            {value: '3', title: '42'},
                            {value: '4', title: '44'},
                            {value: '5', title: '46'},
                            {value: '6', title: '48'},
                            {value: '7', title: '50'},
                            {value: '8', title: '52'},
                            {value: '9', title: '54'},
                            {value: '10', title: '56'},
                            {value: '11', title: '58'},
                            {value: '12', title: '60'},
                            {value: '13', title: '62'},
                            {value: '14', title: '64'},
                            {value: '15', title: '66'},
                            {value: '16', title: '68'},
                            {value: '17', title: '70'},
                            {value: '18', title: '72'},
                            {value: '19', title: '74'},
                            {value: '20', title: '76'},
                            {value: '21', title: '78'},
                        ], 'custom-select--cover-size', 'Размер', data.size_id)
                    else
                        != data.info.size
