/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.cover {
  position: relative;
  width: 100%;

  &__data {
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__title,
  &__price {
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__price {
    margin-bottom: 20px;
  }

  &__button {
    z-index: 2;
    cursor: pointer;
  }

  &__colors {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: absolute;
    bottom: 14px;
    right: 18px;

    &-item {
      width: 9px;
      height: 9px;
      background-color: #1F2B5A;
      border-radius: 100%;

      &--grey {
        background-color: #8A9BA2;
      }

      &--skin {
        background-color: #E1B89D;
      }

      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }

  &__button--remove {
    position: absolute;
    top: 8px;
    left: 8px;
    opacity: 0;
    transition: opacity .19s ease-out;

    & .icon {
      width: 8px;
      height: 8px;
    }
  }

  &:hover {
    .cover__button--remove {
      opacity: 1;
    }
  }

  &__button--favorites {
    position: absolute;
    top: 14px;
    right: 14px;
  }

  &--slider {
    min-width: 271px;
    max-width: 368px;

    & .cover__poster::after {
      padding-bottom: 151.16%;
    }
  }

  &--favorites {
    min-width: 180px;
    max-width: 206px;

    & .cover__poster::after {
      padding-bottom: 150%;
    }

    .button--favorites {
      width: 16px;
      height: 13px;
      opacity: .7;
    }

    .cover__button--favorites {
      top: 17px;
      right: 11px;
    }

    .cover__colors {
      right: 15px;
      bottom: 13px;
    }
  }

  &--cart {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    max-width: 365px;
    /*
    margin-right: 15px;
    margin-top: 20px;
     */


    .cover__data {
      margin-top: 0;
      flex: 1 1;
      align-items: flex-start;
    }

    .cover__price {
      margin-bottom: 43px;
    }

    .cover__color {
      margin-bottom: 15px;
      display: inline-flex;
      align-items: center;
    }

    .cover__colors-item {
      width: 11px;
      height: 11px;
      margin-left: 5px;
    }

    .cover__title,
    .cover__price,
    .cover__color,
    .cover__size {
      font-weight: 300;
      font-size: 15px;
      line-height: 100%;
    }

    .cover__size {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: baseline;
    }

    /*
    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(-n + 3) {
      margin-top: 0;
    }
    */

    .cover__wrapper {
      min-width: 180px;
      max-width: 206px;
      width: 100%;
      margin-right: 10px;
    }

    & .cover__poster::after {
      padding-bottom: 150%;
    }
  }

  &--cart-tip {
    max-width: 270px;
    margin-bottom: 5px;
    margin-top: 0;

    .cover__title,
    .cover__price,
    .cover__color,
    .cover__size {
      font-size: 12px;
    }

    .cover__price {
      margin-bottom: 30px;
    }

    .cover__wrapper {
      min-width: 70px;
      max-width: 85px;
    }

    .cover__colors-item {
      width: 10px;
      height: 10px;
    }
  }

  &--catalog {
    min-width: 271px;
    max-width: 368px;

    & .cover__poster::after {
      padding-bottom: 151.16%;
    }

    .cover__colors {
      right: 32px;
      bottom: 25px;
    }

    .cover__title,
    .cover__price {
      font-size: 15px;
    }

    .cover__title {
      margin-bottom: 15px;
    }

    .cover__price {
      margin-bottom: 20px;
    }

    .cover__data {
      margin-top: 20px;
    }

    .button--favorites {
      width: 25px;
      height: 20px;
      opacity: .7;
    }

    .cover__button--favorites {
      top: 25px;
      right: 24px;
    }
  }

  &--slider-three {
    & .cover__poster::after {
      padding-bottom: 151.16%;
    }
  }

  &--categories {
    max-width: 393px;
    min-width: 349px;

    & .cover__poster::after {
      padding-bottom: 145.16%;
    }
  }

  &__wrapper {
    display: block;
    transition: all .3s ease-out;
  }



  &__poster {
    position: relative;
    transition: all .3s ease-out;

    &::after {
      content: '';
      display: block;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__meta {
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    transform: rotate(-180deg);
    writing-mode: tb-rl;
    position: absolute;
    top: 15px;
    right: 13px;
  }
}