.button {
  position: relative;
  display: inline-flex;
  min-width: 200px;
  background: transparent;
  font-family: $font-family;
  font-size: 15px;
  line-height: 100%;
  font-weight: normal;
  text-align: center;
  color: $color-text;
  white-space: nowrap;
  border: 1px solid $color-text;
  padding: 20px 50px;
  box-shadow: none;
  cursor: pointer;
  transition: background-color .3s ease, color .3s ease;
  box-sizing: border-box;
  z-index: 1;

  &--wide {
    width: 100%;
  }

  &--secondary {
    color: $color-main;
    background-color: $color-text;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2.8em;
      height: 100%;
      transform: translateX(0) skewX(-45deg);
    }
  }

  &:focus-visible {
    outline: $color-text solid 1px;
    outline-offset: 1px;
  }

  &__content {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
  }

  &--clear {
    min-width: initial;
    padding: 0;
    border: none;
  }

  &--slider {
    &:first-child {
      margin-right: 10px;
    }
  }

  &__icon {
    max-height: 100%;
    margin-right: 8px;
  }

  &:disabled,
  &--disabled {
    pointer-events: none;
    cursor: default;
    opacity: .5;
  }

  &--small {
    padding: 14px 39px;
    min-width: initial;

    .button__content {
      font-weight: 300;
      font-size: 12px;
    }
  }

  &--medium {
    padding: 14px 43px;
    min-width: initial;

    .button__content {
      font-weight: 300;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &--primary:hover {
      background-color: $color-text;
      color: $color-main;
    }

    &--secondary:hover::after {
      animation: move-light 0.6s;
    }
  }

  &--app-item {
    border-radius: 4px;
    padding: 5px 10px;
    max-width: 100px;
    max-height: 30px;
    min-width: initial;
  }

  &--dir-vertical {
    border: none;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%) rotate(-90deg);
    right: 40px;
    pointer-events: none;
    cursor: default;

    .icon--longline {
      animation-name: toggleLine;
      animation-iteration-count: infinite;
      animation-duration: 1.5s;
    }

    .button__content {
      gap: 12px;
      flex-flow: row nowrap;
      font-size: 15px;
      font-weight: normal;
      line-height: 100%;
      letter-spacing: 0.03em;
    }
  }

  &--favorites {
    width: 16px;
    height: 14px;
    background: no-repeat center / contain url('../img/like.svg');

    &-active {
      background-image: url('../img/liked.svg');
    }

    &-small {
      width: 13px;
      height: 11px;
      opacity: .7;
    }
  }
}

@keyframes move-light {
  from {
    transform: translateX(-4em) skewX(-45deg);
    background-color: rgba(#fff, .35);
  }
  to {
    transform: translateX(20em) skewX(-45deg);
    background-color: rgba(#fff, 0);
  }
}