/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.checkout {
  border-top: 1px solid rgba(56, 56, 56, .4);
  margin-top: 50px;
  padding: 30px 0 62px 0;


  &__title {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    line-height: 130%;
    margin: 0 auto 75px;
  }

  &__item {
    margin-bottom: 35px;
  }

  &__content {
    display: flex;
  }

  &__form {
    margin-right: 73px;
  }

  &__summary {
    background: $color-main;
    padding: 16px 18px;
    max-width: 351px;
    margin-top: 34px;
    position: sticky;
    top: 20px;

    &-divider {
      margin: 30px 0;
      background-color: rgba(56, 56, 56, 0.8);
      width: 100%;
      height: 1px;
    }

    &-text {
      font-weight: normal;
      font-size: 15px;
      line-height: 130%;

      &--grey {
        color: rgba(56, 56, 56, 0.5);
      }
    }

    &-agreement {
      font-size: 10px;
      line-height: 120%;
      color: rgba(56, 56, 56, 0.5);
      margin-top: 20px;
    }

    &-action {
      margin-top: 35px;
    }

    &-total,
    &-delivery,
    &-count {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;
    }

    &-delivery {
      margin-bottom: 0;
    }
  }

}