include ../button/button
include ../checkout-item/checkout-item

mixin checkout(data, modifier)
    section.checkout
        h1.checkout__title Оформление заказа
        .checkout__content
            .checkout__form
                +checkout-item({
                    title: 'Моя информация',
                    fields: [
                        {placeholder: 'Введите Вашу фамилию', name: 'lastname', label: 'Фамилия'},
                        {placeholder: 'Введите Ваше имя', name: 'firstname', label: 'Имя'},
                        {placeholder: 'Введите Ваше отчество', name: 'middlename', label: 'Отчество'},
                        {
                            placeholder: '+ 7 999 99 99 99',
                            input_type: 'tel',
                            name: 'telephone',
                            label: 'Номер телефона'
                        },
                    ]
                }, 'checkout__item')

                +checkout-item({
                    title: 'Адрес доставки',
                    fields: [
                        {placeholder: 'Введите Вашу страну', name: 'country', label: 'Страна'},
                        {placeholder: 'Введите Вашу область / край', name: 'state', label: 'Область/Край'},
                        {placeholder: 'Введите Ваш город', name: 'city', label: 'Город'},
                        {
                            placeholder: 'Введите название улицы, номер дома, корпус, строение, номер квартиры',
                            input_type: 'tel',
                            name: 'address',
                            label: 'Адрес'
                        },
                        {
                            placeholder: 'Укажите Ваш почтовый индекс. Например 105064',
                            input_type: 'tel',
                            name: 'zipcode',
                            label: 'Индекс'
                        },
                    ]
                }, 'checkout__item')

                +checkout-item({
                    title: 'Доставка',
                    type: 'delivery',
                    fields: [
                        {
                            label: 'Бесплатно 5-10 рабочих дней',
                            name: 'delivery',
                            img: '/assets/img/russian_post.svg',
                            value: 'russian_post'
                        },
                        {
                            label: 'Бесплатно 2-6 рабочих дней',
                            name: 'delivery',
                            img: '/assets/img/cdek.svg',
                            value: 'cdek'
                        },
                    ]
                }, 'checkout__item')

                +checkout-item({
                    title: 'Комментарий',
                    type: 'textarea',
                    fields: [
                        {
                            label: 'КОММЕНТАРИЙ К ВАШЕМУ ЗАКАЗУ:',
                            name: 'comment',
                            placeholder: 'Оставьте комментарий к Вашему заказу'
                        },
                    ]
                }, 'checkout__item')

            .checkout__summary-wrapper
                .checkout__summary
                    .checkout__summary-count
                        span.checkout__summary-text Количество
                        span.checkout__summary-text 3
                    .checkout__summary-total
                        span.checkout__summary-text Стоимость заказа
                        span.checkout__summary-text 11 200 ₽
                    .checkout__summary-delivery
                        span.checkout__summary-text Количество
                        span.checkout__summary-text.checkout__summary-text--grey БЕСПЛАТНО
                    .checkout__summary-divider
                    .checkout__summary-total
                        span.checkout__summary-text ИТОГО:
                        span.checkout__summary-text 11 200 ₽
                    .checkout__summary-agreement
                        | Ваши персональные данные будут обработаны в соответствии с Уведомлением о соблюдении конфиденциальности компании “СтильЭлит”.
                        br
                        br
                        | Продолжив, вы принимаете Общие условия “СтильЭлит”.
                    .checkout__summary-action
                        +button({
                            type: 'button',
                            title: 'Оформить заказ'
                        }, '.checkout__summary-btn button--secondary button--wide')