/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.breadcrumbs {
  margin-left: 0;
  margin-right: 0;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: rgba(48, 48, 56, 0.7);
  }

  &__divider {
    font-size: .875rem;
    line-height: 1.25rem;
    margin: 0 0 0 .21rem;
    color: rgba(48, 48, 56, 0.7);
  }

  &--detail {
    margin-top: 30px;
    margin-bottom: 25px;
  }

  &--profile {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  &--cart {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}