mixin breadcrumbs(data, modifier)
    nav.breadcrumbs(class=modifier)
        ol.breadcrumbs__list
            for item, idx in data.list
                li.breadcrumbs__item
                    a(href=item.url).breadcrumbs__link
                        span.breadcrumbs__name!=item.name
                    if data.list.length - 1 !== +idx
                        span(aria-hidden="true").breadcrumbs__divider ›
