include ../profile-item/profile-item

mixin personal-returns(modifier)
    section.personal-returns(class=modifier)
        h1.personal-returns__title Оформление возврата
        +profile-item({
            fields: [
                {placeholder: 'Введите Ваше имя', name: 'firstname', label: 'Имя:'},
                {placeholder: 'Введите Вашу фамилию', name: 'lastname', label: 'Фамилия:'},
                {placeholder: '+ 7 999 99 99 99', input_type: 'tel', name: 'telephone', label: 'Номер телефона:'},
                {placeholder: 'Введите адрес эл. почту', input_type: 'email', name: 'email', label: 'Эл. почта:'},
                {placeholder: 'Укажите причину возврата', name: 'return_comment', label: 'Причина возврата:', textarea: true},
                {button_only: true, title: 'Оформить возврат'}
            ]
        }, 'profile__item')


