/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.profile-sidebar {
  max-width: 170px;
  float: left;
  clear: both;
  margin-right: 91px;

  &__title {
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
  }

  &__list {
    margin-top: 30px;
    list-style: none;
  }

  &__item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    &--active {
      &::after {
        content: '›';
        font-size: 14px;
        line-height: 120%;
        margin-left: 2px;
      }
    }
  }

  &__link {
    font-size: 15px;
    line-height: 130%;
  }
}