mixin profile-sidebar(data, modifier)
    .profile-sidebar(class=modifier)
        h1.profile-sidebar__title Мой аккаунт
        ul.profile-sidebar__list
            li.profile-sidebar__item(class= data.section === 'data' ? 'profile-sidebar__item--active' : '')
                a(href="profile-personal-data.html", name="Мои данные", title="Мои данные").profile-sidebar__link Мои данные
            li.profile-sidebar__item(class= data.section === 'favorites' ? 'profile-sidebar__item--active' : '')
                a(href="profile-favorites.html", name="Избранное", title="Избранное").profile-sidebar__link Избранное
            li.profile-sidebar__item(class= data.section === 'orders' ? 'profile-sidebar__item--active' : '')
                a(href="profile-orders.html", name="Заказы", title="Заказы").profile-sidebar__link Заказы
            li.profile-sidebar__item(class= data.section === 'returns' ? 'profile-sidebar__item--active' : '')
                a(href="profile-purchase-returns.html", name="Возврат", title="Возврат").profile-sidebar__link Возврат
            li.profile-sidebar__item
                a(href="profile-personal-data.html", name="Выход", title="Выход").profile-sidebar__link Выход