include ../select/select
include ../button/button

mixin filter(data, modifier)
    .filter(class=modifier)
        .filter__top
            .filter__list
                .filter__item
                    +select([
                        {value: '0', title: 'Все товары'},
                        {value: '1', title: 'Платья'},
                        {value: '2', title: 'Костюмы'},
                        {value: '3', title: 'Блузки'},
                        {value: '4', title: 'Комбинезоны'},
                        {value: '5', title: 'Юбки'},
                        {value: '6', title: 'Шорты'},
                    ], 'custom-select--filter', 'Все товары')
                .filter__item
                    +select([
                        {value:'0', title: 'Сортировать'},
                        {value:'1', title: 'Рекомендованные'},
                        {value:'2', title: 'Популярное'},
                        {value:'2', title: 'Новинки'},
                    ], 'custom-select--sort', 'Сортировка')
                .filter__item
                    +select([
                        {value: '0', title: 'Размер'},
                        {value: '1', title: '38'},
                        {value: '2', title: '40'},
                        {value: '3', title: '42'},
                        {value: '4', title: '44'},
                        {value: '5', title: '46'},
                        {value: '6', title: '48'},
                        {value: '7', title: '50'},
                        {value: '8', title: '52'},
                        {value: '9', title: '54'},
                        {value: '10', title: '56'},
                        {value: '11', title: '58'},
                        {value: '12', title: '60'},
                        {value: '13', title: '62'},
                        {value: '14', title: '64'},
                        {value: '15', title: '66'},
                        {value: '16', title: '68'},
                        {value: '17', title: '70'},
                        {value: '18', title: '72'},
                        {value: '19', title: '74'},
                        {value: '20', title: '76'},
                        {value: '21', title: '78'},
                    ], 'custom-select--size multiple', 'Размер')
                .filter__item
                    +select([
                        {value: '0', title: 'Цвет'},
                        {value: '#C03002'},
                        {value: '#F97719'},
                        {value: '#D8C275'},
                        {value: '#5D56AC'},
                        {value: '#5689A7'},
                        {value: '#97958F'},
                        {value: '#665323'},
                        {value: '#17562C'},
                        {value: '#8ABB89'},
                        {value: '#88326B'},
                    ], 'custom-select--color', 'Цвет')
            .filter__count 528 товаров

        if data.only_search
            .filter__search
                .filter__search-title Показаны результаты для:
                .filter__search-query "Вечерние платья"

        else if data.search
            .filter__search
                .filter__search-title Показаны результаты для:
                .filter__search-query "Вечерние платья"
            .filter__selected
                .filter__selected-title Выбранные фильтры:
                .filter__selected-list
                    .filter__selected-item
                        | 44
                        +button({
                            type: 'button',
                            alt: 'Отменить фильтр',
                            icon: 'unselect',
                            icon_modifier: 'icon--unselect',
                            attr: {
                                'aria-label': 'Отменить фильтр'
                            }
                        }, 'button--clear js-button-unselect')
                    .filter__selected-item
                        | 46
                        +button({
                            type: 'button',
                            alt: 'Отменить фильтр',
                            icon: 'unselect',
                            icon_modifier: 'icon--unselect',
                            attr: {
                                'aria-label': 'Отменить фильтр'
                            }
                        }, 'button--clear js-button-unselect')
                    .filter__selected-item
                        | Чёрный
                        +button({
                            type: 'button',
                            alt: 'Отменить фильтр',
                            icon: 'unselect',
                            icon_modifier: 'icon--unselect',
                            attr: {
                                'aria-label': 'Отменить фильтр'
                            }
                        }, 'button--clear js-button-unselect')
        else if data.empty

        else
            .filter__selected
                .filter__selected-title Выбранные фильтры:
                .filter__selected-list
                    .filter__selected-item
                        | 44
                        +button({
                            type: 'button',
                            alt: 'Отменить фильтр',
                            icon: 'unselect',
                            icon_modifier: 'icon--unselect',
                            attr: {
                                'aria-label': 'Отменить фильтр'
                            }
                        }, 'button--clear js-button-unselect')
                    .filter__selected-item
                        | 46
                        +button({
                            type: 'button',
                            alt: 'Отменить фильтр',
                            icon: 'unselect',
                            icon_modifier: 'icon--unselect',
                            attr: {
                                'aria-label': 'Отменить фильтр'
                            }
                        }, 'button--clear js-button-unselect')
                    .filter__selected-item
                        | Чёрный
                        +button({
                            type: 'button',
                            alt: 'Отменить фильтр',
                            icon: 'unselect',
                            icon_modifier: 'icon--unselect',
                            attr: {
                                'aria-label': 'Отменить фильтр'
                            }
                        }, 'button--clear js-button-unselect')