/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.filter {
  display: flex;
  flex-flow: column nowrap;


  &__top {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    & + .filter__selected,
    & + .filter__search {
      margin-top: 24px;
    }

  }

  &__selected {
    min-height: 28px;
    display: inline-flex;
    align-items: center;

    &-title {
      font-weight: normal;
      font-size: 15px;
      line-height: 120%;
    }

    &-item {
      display: inline-flex;
      align-items: center;
      font-weight: normal;
      font-size: 15px;
      line-height: 120%;
      padding: 5px 6px;
      background-color: $color-main;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &-list {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 20px;
    }
  }

  &__list {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 17px;
    }
  }

  &__count {
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
  }

  &__search {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 16px;

    & + .filter__selected {
      margin-top: 25px;
    }

    &-title {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 120%;
      color: rgba(48, 48, 48, .8);
    }

    &-query {
      font-size: 15px;
      line-height: 120%;
      border-bottom: 1px solid #303030;
      color: #303030;
      margin-left: 20px;
    }
  }
}