include ../icon/icon.pug
include ../input/input

mixin header(data, modifier)
    header.menu.js-menu(class= modifier)
        .container.menu__container.h-display--flex
            .menu__wrap
                a(href="main.html").menu__logotype СтильЭлит
                nav.menu__index
                    ul.menu__list
                        for item in data.menu
                            li.menu__item.js-menu-item(class= item.modifier_item)
                                a.menu__link(href= item.url, class= item.active ? 'menu__link--active' : "")!= item.title
                .menu__contacts
                    a(href="tel:88005553535").menu__contacts-item
                        |8 800 555-35-35
                        +icon({ id: 'phone', modifier: 'icon--small menu__contacts-icon'})


            ul.menu__action-list
                li.menu__action-item.menu__action-item--search
                    form(action='#' class='menu__action-form')
                        input.menu__action-input(type="text" name="search" placeholder="Поиск")
                        span.menu__link-title.h-hidden Поиск
                        +icon({ id: 'search', modifier: 'icon--small'})
                li.menu__action-item
                    a(href="profile-personal-data.html" title="Профиль").menu__action-link
                        span.menu__link-title.h-hidden Профиль
                        +icon({id: 'profile', modifier: 'icon--small'})
                li.menu__action-item
                    a(href="profile-favorites.html" title="Избранное").menu__action-link.menu__action-link--favorites
                        span.menu__link-title.h-hidden Избранное
                        span.menu__link-counter 5
                        +icon({ id: 'favorites', modifier: 'icon--small'})
                li.menu__action-item.menu__action-item--cart
                    a(href="cart.html" title="Корзина").menu__action-link.menu__action-link--cart
                        span.menu__link-title.h-hidden Корзина
                        span.menu__link-counter 4
                        +icon({ id: 'cart', modifier: 'icon--small'})
