/**
 *
 *
 * @author Tatevosyan Artem (@teqst)
 */

.menu {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  float: none;
  display: flex;
  height: $header-height;
  background: $color-main;
  padding: 0;
  box-sizing: border-box;
  z-index: 8;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &--main {
    background-color: $color-bg-main;

    .menu__index {
      display: none;
    }

    .menu__wrap,
    .menu__action-list {
      border-bottom: 1px solid rgba(56, 56, 56, .4);
    }
  }

  &__wrap {
    flex: 0 1 76.32%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logotype {
    flex: none;
    margin-right: 12px;
    font-size: 18px;
    line-height: 100%;
    white-space: nowrap;
    font-weight: 300;
    user-select: none;
  }

  &__list,
  &__action-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item,
  &__action-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__action-list {
    flex: 1 0;
    justify-content: flex-end;
    padding-left: 20px;
  }

  &__action-item {
    margin-left: 20px;

    &--search {
      &-active {

        .menu__action-input {
          opacity: 1;
          pointer-events: auto;
          cursor: initial;
          user-select: initial;
        }
      }
    }
  }

  &__action-form {
    display: inline-flex;
    align-items: center;
    height: $header-height;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;

    & .icon {
      transition: color 0.3s;
    }

    @media (hover: hover) and (pointer: fine) {
      & .icon:hover {
        color: #38383880;
      }
    }
  }

  &__action-input {
    height: 25px;
    width: 285px;
    position: absolute;
    right: 16px;
    border: 1px solid rgba(56, 56, 56, .5);
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    padding: 6px 9px;
    margin-right: 16px;
    opacity: 0;
    pointer-events: none;
    cursor: none;
    user-select: none;
    transition: all .2s ease-out;
  }

  &__link,
  &__action-link {
    position: relative;
    display: flex;
    align-items: center;
    height: $header-height;
    background-color: transparent;
    border: none;
    padding: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -0.055em;
    color: $color-text;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: #38383880;
      }
    }
  }

  &__action-link {
    height: auto;
    position: relative;
  }

  &__link-counter {
    position: absolute;
    right: -0.7em;
    bottom: -0.85em;
    min-width: 13px;
    min-height: 13px;
    display: inline-block;
    background-color: #6C6C6C;
    color: $color-main;
    border-radius: 20px;
    font-weight: normal;
    font-size: 8px;
    line-height: 13px;
    text-align: center;
    padding: 0 4px;
    box-sizing: border-box;
    white-space: nowrap;
  }

  &__contacts {
    display: flex;
    margin-left: 12px;
    transition: opacity .14s ease-out;

    &-item {
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      white-space: nowrap;
      font-weight: 300;
      font-size: 15px;
      line-height: 130%;

      .menu__contacts-icon {
        margin-right: 4px;
        width: 17px;
        height: 17px;
      }
    }
  }
}

