extend ../layouts/base

include ../../components/button/button
include ../../components/cart-tip/cart-tip

block title
    | СтильЭлит — Кнопки

block main_title
    h1.h-hidden СтильЭлит — Главная

block content
    .buttons-example.h-mt--100.h-ml--100
        .item.h-display--flex.h-mb--15
            +button({
                type: 'button',
                title: 'Кнопка'
            }, 'button--primary')
            +button({
                type: 'button',
                title: 'Кнопка1'
            }, 'h-ml--30 button--secondary button--blik')
        .item.h-display--flex.h-mb--15
            +button({
                type: 'button',
                title: 'Кнопка'
            }, 'button--primary')
            +button({
                type: 'button',
                title: 'Кнопка2'
            }, 'h-ml--30 button--secondary button--blik2')
        .item.h-display--flex.h-mb--15
            +button({
                type: 'button',
                title: 'Кнопка'
            }, 'button--primary')
            +button({
                type: 'button',
                title: 'Кнопка3'
            }, 'h-ml--30 button--secondary button--blik3')
        .item.h-display--flex.h-mb--15
            +button({
                type: 'button',
                title: 'Кнопка'
            }, 'button--primary')
            +button({
                type: 'button',
                title: 'Кнопка4'
            }, 'h-ml--30 button--secondary button--blik4')
        .item.h-display--flex.h-mb--15
            +button({
                type: 'button',
                title: 'Кнопка'
            }, 'button--primary')
            +button({
                type: 'button',
                title: 'Кнопка5'
            }, 'h-ml--30 button--secondary button--blik5')
        .item.h-display--flex.h-mb--15
            +button({
                type: 'button',
                title: 'Кнопка'
            }, 'button--primary')
            +button({
                type: 'button',
                title: 'Кнопка6'
            }, 'h-ml--30 button--secondary button--blik6')
        .item.h-display--flex.h-mb--15
            +button({
                type: 'button',
                title: 'Кнопка'
            }, 'button--primary')
            +button({
                type: 'button',
                title: 'Кнопка7'
            }, 'h-ml--30 button--secondary button--blik7')
        .item.h-display--flex.h-mb--15
            +button({
                type: 'button',
                title: 'Кнопка'
            }, 'button--primary')
            +button({
                type: 'button',
                title: 'Кнопка7'
            }, 'h-ml--30 button--secondary button--blik8')


    +cart-tip()