extend ../layouts/base

include ../../components/header/header
include ../../components/cart/cart
include ../../components/cart-tip/cart-tip

block title
    | СтильЭлит — Корзина - пусто

block header
    +header({
        menu: [
            {
                title: 'Новинки',
                url: '#',
            },
            {
                title: 'Распродажа',
                url: '#',
            },
            {
                title: 'Каталог',
                url: 'catalog.html',
            },
            {
                title: 'Контакты',
                url: 'main.html#contacts',
            },

        ]
    }, 'menu--main')

block main_title
    h1.h-hidden СтильЭлит — Корзина - пусто

block content
    .container
        +cart({
            empty: true
        })

block modals
    +cart-tip()
