extend ../layouts/base

include ../../components/header/header
include ../../components/catalog-grid/catalog-grid
include ../../components/cart-tip/cart-tip

block title
    | СтильЭлит — Каталог - поиск

block header
    +header({
        menu: [
            {
                title: 'Новинки',
                url: '#',
            },
            {
                title: 'Распродажа',
                url: '#',
            },
            {
                title: 'Каталог',
                url: 'catalog.html',
                active: true,
            },
            {
                title: 'Контакты',
                url: 'main.html#contacts',
            },

        ]
    }, 'menu--main')

block main_title
    h1.h-hidden СтильЭлит — Каталог - поиск

block content
    .container
        +catalog-grid({
            search_page: true,
            title: 'Каталог',
            description: 'Романтичные, модные, непринужденные или облегающие — выбирайте новые платья здесь. Наша коллекция женских платьев разнообразна — это романтичные платья без бретелек, манящие платья из шелка, комфортные трикотажные платья и многое другое.',
            items: [
                'assets/img/card7.jpg',
                'assets/img/card2.jpg',
                'assets/img/card3.jpg',
                'assets/img/card6.jpg',
            ]
        }, 'catalog-grid--search')

block modals
    +cart-tip()
