extend ../layouts/base

include ../../components/header/header
include ../../components/breadcrumbs/breadcrumbs
include ../../components/detail/detail
include ../../components/cart-tip/cart-tip

block title
    | СтильЭлит — Детальная страница

block header
    +header({
        menu: [
            {
                title: 'Новинки',
                url: '#',
                active: true,
            },
            {
                title: 'Распродажа',
                url: '#',
            },
            {
                title: 'Каталог',
                url: 'catalog.html',
            },
            {
                title: 'Контакты',
                url: 'main.html#contacts',
            },

        ]
    }, 'menu--main')

block main_title
    h1.h-hidden СтильЭлит — Детальная страница

block content
    .container
        +breadcrumbs({
            list: [
                {name: 'Женская одежда', url: '#'},
                {name: 'Костюмы и комплекты', url: '#'},
                {name: 'Юбочный', url: '#'},
                {name: 'Vitana', url: '#'},
                {name: '456/1 светло-бежевый', url: '#'},
            ]
        }, 'breadcrumbs--detail')

        +detail({
            image_1: 'assets/img/detail_pic1.jpg',
            image_2: 'assets/img/detail_pic2.jpg',
            image_3: 'assets/img/detail_pic3.jpg',
            name: 'Костюм юбочный',
            price: '4 500 ₽ ',
            old_price: '6 200 ₽',
            description: 'Жакет с воротником пиджачного типа и двубортной застёжкой на петли и пуговицы. Перед с карманами с клапанами в нижней части. Спинка со средним швом и двумя рельефами. Рукава втачные. Жакет на подкладке. Перед с карманами с клапанами в нижней части. Рукава втачные. Жакет на подкладке. Жакет с воротником пиджачного типа и двубортной застёжкой на петли и пуговицы. Перед с карманами с клапанами в нижней части. Спинка со средним швом и двумя рельефами. Рукава втачные. Жакет на подкладке. Перед с карманами с клапанами в нижней части. Рукава втачные. Жакет на подкладке.',
            specs: 'жакет – 80% полиэстер, 20% вискоза; <br> подкладка – 100% полиэстер; <br> блуза – 90% полиэстер, 10% вискоза; <br> подкладка – 100% полиэстер',
        }, '')

block modals
    +cart-tip()


