extend ../layouts/base

include ../../components/header/header
include ../../components/image-section/image-section
include ../../components/catalog-navigation/catalog-navigation
include ../../components/catalog-slider/catalog-slider

block title
    | СтильЭлит — Страницы

block main_title
    h1.h-hidden СтильЭлит — Страницы

block content
    ol.h-mt--100.h-ml--100.index
        li.h-mb--15.h-fz--18.h-lh--130.h-ls--disc
            a(href="main.html") Главная
        li.h-mb--15.h-fz--18.h-lh--130.h-ls--disc
            a(href="catalog.html") Каталог
        li.h-mb--15.h-fz--18.h-lh--130.h-ls--disc
            a(href="catalog_search.html") Каталог - поиск
        li.h-mb--15.h-fz--18.h-lh--130.h-ls--disc
            a(href="catalog_search-empty.html") Каталог - поиск - не найдено
        li.h-mb--15.h-fz--18.h-lh--130.h-ls--disc
            a(href="catalog_search_n_filters.html") Каталог - поиск + фильтры
        li.h-mb--15.h-fz--18.h-lh--130.h-ls--disc
            a(href="detail.html") Детальная страница
        li.h-mb--15.h-fz--18.h-lh--130.h-ls--disc
            a(href="cart.html") Корзина - пустая
        li.h-mb--15.h-fz--18.h-lh--130.h-ls--disc
            a(href="cart_not_empty.html") Корзина
        li.h-mb--15.h-fz--18.h-lh--130.h-ls--disc Профиль
            ol.index
                li.h-mb--15.h-fz--18.h-lh--130.h-ls--disc.h-mt--20
                    a(href="profile-personal-data.html") Профиль - персональные данные
                li.h-mb--15.h-fz--18.h-lh--130.h-ls--disc
                    a(href="profile-purchase-returns.html") Профиль - возврат
                li.h-mb--15.h-fz--18.h-lh--130.h-ls--disc
                    a(href="profile-favorites.html") Профиль - Избранное
