extend ../layouts/base

include ../../components/header/header
include ../../components/image-section/image-section
include ../../components/catalog-navigation/catalog-navigation
include ../../components/catalog-slider/catalog-slider
include ../../components/cart-tip/cart-tip

block title
    | СтильЭлит — Главная

block header
    +header({
        menu: [
            {
                title: 'Новинки',
                url: '#',
                active: true,
            },
            {
                title: 'Распродажа',
                url: '#',
            },
            {
                title: 'Каталог',
                url: 'catalog.html',
            },
            {
                title: 'Контакты',
                url: '#contacts',
            },

        ]
    }, '')

block main_title
    h1.h-hidden СтильЭлит — Главная

block content
    +image-section(
        {
            src: 'assets/img/backbg.jpg',
            top_block: true,
            meta: '2021-2022',
            actions: true,
            apps: true,
            title: 'НОВИНКИ <br>ОСЕНЬ-ЗИМА',
            subtitle: 'Вдохновитесь элегантными <br>образами вместе с&nbsp;нами',
        }
    )

    +catalog-navigation({
        title: 'Навигация по каталогу'
    }, 'h-mt--100')

    +image-section(
        {
            src: 'assets/img/backbg2.jpg',
            meta: 'Скидки до 50%',
            actions: true,
            title: 'РАСПРОДАЖА',
            subtitle: 'Наслаждайтесь высочайшим <br>качеством по&nbsp;выгодным ценам',
        },
        'image-section--sale h-mt--100 '
    )

    +catalog-slider({
        title: 'Популярные модели',
        slider_class: 'js-slider-four',
        pagination_class_next: 'button--slider-next',
        pagination_class_prev: 'button--slider-prev',
        btn_size: 'button--small',
        slides: [
            'assets/img/card6.jpg',
            'assets/img/card7.jpg',
            'assets/img/card8.jpg',
            'assets/img/card9.jpg',
            'assets/img/card6.jpg',
            'assets/img/card7.jpg',
            'assets/img/card8.jpg',
            'assets/img/card9.jpg',
        ]
    }, 'h-mt--100')

    +catalog-slider({
        title: 'Новинки сезона',
        slider_class: 'js-slider-three',
        pagination_class_next: 'button--slider-next-three',
        pagination_class_prev: 'button--slider-prev-three',
        btn_size: 'button--medium',
        slides: [
            'assets/img/card10.jpg',
            'assets/img/card11.jpg',
            'assets/img/card12.jpg',
            'assets/img/card10.jpg',
            'assets/img/card11.jpg',
            'assets/img/card12.jpg',
        ]
    }, 'h-mt--100')

    +image-section(
        {
            src: 'assets/img/backbg3.jpg',
            contacts: true,
            title: 'КОНТАКТЫ',
        },
        'image-section--contacts h-mt--100',
        'contacts'
    )

block modals
    +cart-tip()

