extend ../layouts/base

include ../../components/header/header
include ../../components/breadcrumbs/breadcrumbs
include ../../components/profile-sidebar/profile-sidebar
include ../../components/personal-data/personal-data
include ../../components/cart-tip/cart-tip

block title
    | СтильЭлит — Профиль - персональные данные

block header
    +header({
        menu: [
            {
                title: 'Новинки',
                url: '#',
                active: true,
            },
            {
                title: 'Распродажа',
                url: '#',
            },
            {
                title: 'Каталог',
                url: 'catalog.html',
            },
            {
                title: 'Контакты',
                url: 'main.html#contacts',
            },

        ]
    }, 'menu--main')

block main_title
    h1.h-hidden СтильЭлит — Профиль - персональные данные

block content
    .container
        +breadcrumbs({
            list: [
                {name: 'Главная', url: 'main.html'},
                {name: 'Мой аккаунт', url: 'profile-personal-data.html'},
            ]
        }, 'breadcrumbs--profile')

        +profile-sidebar({ section: 'data' })

        +personal-data()

block modals
    +cart-tip()

