include ../filter/filter
include ../breadcrumbs/breadcrumbs
include ../cover/cover
include ../button/button
include ../input/input

mixin catalog-grid(data, modifier)
    +breadcrumbs({
        list: [
            {name: 'Женская одежда', url: '#'}
        ]
    }, 'breadcrumbs--detail')
    article.catalog-grid(class=modifier)
        h1.catalog-grid__title!= data.title
        .catalog-grid__info
            .catalog-grid__description!= data.description
            if !data.search_page && !data.only_search_page && !data.empty
                .catalog-grid__search
                    +input({
                        type: 'input',
                        search: true,
                        name: 'search',
                        placeholder: 'ИСКАТЬ ТОВАРЫ'
                    }, '')

        +filter({
            only_search: data.only_search_page,
            search: data.search_page,
        }, data.search_page ? 'filter--search' : '')

    if !data.empty
        .catalog-grid__grid
            each val in data.items
                .catalog-grid__item
                    +cover({
                        img_src: val,
                        favorites: true,
                        url: 'detail.html',
                        colors: true,
                        info: {
                            title: 'Костюм женский',
                            price: '4 300 ₽',
                            size: 'button--medium'
                        },
                        label: '01 - Верхняя одежда',
                    }, 'cover--catalog')
        .catalog-grid__pagination
            +button({
                type: 'button',
                title: 'Показать ещё'
            }, 'button--clear catalog-grid__button')
            span.catalog-grid__rest Осталось ещё 513 товаров
    else
        .catalog-grid__empty
            .catalog-grid__empty-title Нет соответствующих товаров
            .catalog-grid__empty-description
                | По Вашему запросу&nbsp;
                span.catalog-grid__empty-query "Вечерние красные платья"
                | &nbsp;ничего не найдено.
                br
                | Пожалуйста, проверьте правильность написания или упростите и сократите словосочетание для поиска
            .catalog-grid__empty-btn
                +button({
                    type: 'button',
                    title: 'Вернуться в каталог'
                }, 'button--primary')