/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.catalog-grid {

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 18px;
    margin-top: 24px;
  }

  &__empty {
    margin-top: 100px;
    margin-bottom: 270px;
    text-align: center;

    &-title {
      font-weight: 300;
      font-size: 15px;
      line-height: 120%;
      color: #383838;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    &-description {
      font-weight: 300;
      font-size: 15px;
      line-height: 150%;
      color: rgba(56, 56, 56, 0.8);
      margin-bottom: 40px;
    }

    &-query {
      padding-bottom: 1px;
      border-bottom: 1px solid #303030;
      color: #303030;
    }
  }

  &__pagination {
    margin-top: 70px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
  }

  &__button {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    padding-bottom: 1px;
    border-bottom: 1px solid $color-text;
    margin-bottom: 10px;
  }

  &__rest {
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: rgba(56, 56, 56, 0.4);
  }

  &__title {
    font-weight: 300;
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 32px;
    text-transform: uppercase;
  }

  &__info {
    margin-bottom: 50px;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  &__description {
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: rgba(56, 56, 56, 0.7);
    max-width: 551px;
  }

  &__filter {
    margin-bottom: 70px;
  }
}