include ../cover/cover

mixin personal-favorites(modifier)
    section.personal-favorites(class=modifier)
        h1.personal-favorites__title Избранное
        .personal-favorites__list
            each val in [1,2,3,4,5,6,7]
                +cover({
                    img_src: 'assets/img/card6.jpg',
                    url: 'detail.html',
                    colors: true,
                    favorites: true,
                    info: {
                        no_button: true,
                        title: 'Платье',
                        price: '3000 ₽',
                        size: 'Размер: 42',
                    }
                }, 'cover--favorites profile-favorites__item')
