/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.personal-favorites{
  margin-left: 254px;
  margin-bottom: 100px;

  &__title {
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;
    text-transform: uppercase;
  }

  &__list {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 10px 20px;
  }

  &__item {

  }
}