include ../button/button

mixin app-download(modifier)
    section(class=modifier).app-download
        .app-download__text Скачайте приложение
        .app-download__list
            .app-download__item
                +button({
                    type: 'button',
                    img: 'assets/img/appstore.svg',
                    alt: 'Доступно в App Store',
                    attr: {
                        'aria-label':'Доступно в App Store'
                    }
                }, 'button--app-item')
            .app-download__item
                +button({
                    type: 'button',
                    alt: 'Доступно в Google Play',
                    img: 'assets/img/googleplay.svg',
                    attr: {
                        'aria-label': 'Доступно в Google Play'
                    }
                }, 'button--app-item')