/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.app-download {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;

  &__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-flow: row nowrap;
  }

  &__item {
    display: inline-flex;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}